include AUTHORS
include LICENSE
include README.rst
include HISTORY
recursive-include ripiu/cmsplugin_rototalc/migrations *
recursive-include ripiu/cmsplugin_rototalc/templates *
recursive-include ripiu/cmsplugin_rototalc/static *
recursive-include ripiu/cmsplugin_rototalc/locale *